<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<!-- the targets to write to -->
	<targets async="true" >

		<!-- File Target for all log messages with basic details -->
		<target xsi:type="File" name="NomalLog"  fileName="${basedir}\Logs\${shortdate}.log"
			keepFileOpen ="true"
			archiveNumbering="DateAndSequence"
			archiveAboveSize="524288000"
			archiveEvery="Day"
			maxArchiveFiles="35"
			
				layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|${stacktrace}|${callsite:className=False:methodName=True} " />



		<!-- File Target for own log messages with extra web details using some ASP.NET core renderers -->
		<target  xsi:type="File" name="AopLog" fileName="${basedir}\Logs\Logs\aop${shortdate}.log"
				 keepFileOpen ="true"
		    archiveNumbering="DateAndSequence"
			archiveAboveSize="5242880"
            archiveEvery="Day"
            maxArchiveFiles="35"
				layout="${longdate}|${level:uppercase=true}|${message} ${exception:format=tostring}|${callsite} " />
		<!--|${ActivityId}-->
		<!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<!--<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />-->
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>

		<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="*TransactionScopeAttribute" minlevel="Info" writeTo="AopLog" final="true" />
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="info" writeTo="NomalLog" />


		<!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
		<!--<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />

		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />-->
	</rules>
</nlog>